body {
  @include regularFont;

  color: $c-black;
}

a {
  color: $c-link;

  &.taglink {
    display: inline-block;
    text-decoration: none;
    color: $c-black;
    background-color: $c-orange;
    padding: 0 0.3em;

    &:hover {
      background-color: $c-orange-dark;
    }
  }
}

a.extlink {
  background-image: url('../../static/fontawesome/arrow-up-right-from-square-solid.svg');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 0.857em;
  padding-right: 1em;
}

.domain {
  font-size: 0.85em;
  text-decoration: none;
}

b, strong {
  font-weight: bold;
}

h1 {
  @include headingFont;
  text-transform: uppercase;

  @include media-breakpoint-down(md) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 3rem;
  @include media-breakpoint-down(md) {
    font-size: 2rem;
  }
}

h2,
h3,
h4,
h5,
h6 {
  @include subheadingFont;
  text-transform: uppercase;
}

p {
  margin-bottom: 1em;
}

.subheading {
  @include subheadingFont;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.large {
  font-size: 1.75rem;
}

.logo-imaginary {
  background-image: url('/static/img-web/imaginary-logo-purple.svg');
  background-repeat: no-repeat;
  background-position: center center;
  width: 400px;
  height: 50px;
  font-size: 0;
}

.logo-creative-commons {
  display: inline-block;
  background-image: url('/static/fontawesome/creative-commons.svg');
  background-repeat: no-repeat;
  background-position: center center;
  width: 1.5em;
  height: 1.5em;
  vertical-align: bottom;
}

span.highlighted {
  display: inline-block;
  font-size: 1.2em;
  line-height: 1;
  font-weight: bold;
}

.loader {
  .loader-text {
    display: block;
    font-weight: bold;
    margin: 0.3em 0 2em;
    margin-right: -0.4em;
    text-transform: uppercase;
  }
}
