$c-black: #000000;
$c-white: #ffffff;

$c-gray: #dcdcdc;
$c-gray-light: #efefef;

$c-cyan: #8ffff9;
$c-green: #97ff94;
$c-mindaro: #d5ff7c;
$c-yellow: #fffe81;
$c-orange: #ffda80;
$c-pink: #ffacd9;
$c-purple: #d8a9ff;

$c-cyan-dark: #73e1db;
$c-green-dark: #83de81;
$c-mindaro-dark: #b9de6c;
$c-yellow-dark: #dedd70;
$c-orange-dark: #debe6f;
$c-pink-dark: #de96bd;
$c-purple-dark: #bc93de;

$c-cyan-light: #d8fffd;
$c-green-light: #dbffda;
$c-mindaro-light: #f0ffd1;
$c-yellow-light: #ffffd3;
$c-orange-light: #fff2d3;
$c-pink-light: #ffe2f2;
$c-purple-light: #f1e1ff;

$c-violet: #a161ff;
$c-violet-dark: #39008c;
$c-violet-light: #be92ff;
$c-violet-very-light: #d5b9ff;

$c-link: #4e41ff;
