body {
  background-color: $c-black;
  color: $c-white;
}

.neural-numbers-component {
  @include defaultFont;

  .input-canvas-wrapper {
    border: 4px dashed $c-gray;
  }

  .drawcanvas {
    filter: none;
  }

  .stage-input.background {
    .input-placeholder {
      color: $c-white;
      opacity: 0.85;
      margin: 4px;
    }
  }

  .output-wrapper {
    background: radial-gradient(110px, $c-blue-shadow, transparent);
    &:before {
      background-color: $c-black;
    }

    .output {
      color: $c-white;
    }
  }

  .bars {
    .bar {
      border-color: black;
      background: linear-gradient(90deg, $c-blue-shadow, $c-blue);
    }
  }
}
