extends tpl/page

block init

block stylesheets-lib
  link(rel="stylesheet", href="vendor/neural-numbers/assets/css/neural-numbers.css", media="all", type="text/css")

block scripts-lib
  script(src="vendor/neural-numbers/vendor/tf/tf.min.js")
  script(src="vendor/neural-numbers/assets/js/dependencies.min.js")
  script(src="vendor/neural-numbers/assets/js/neural-numbers.min.js")

block main
  .loader
    .lds-ellipsis
      div
      div
      div
      div
  .loader-hide
    #neural-numbers-container
    #training-panel
      button#training-mode-button
        h2.training-title
      #training-panel-separator
      #training-controls
        #neural-numbers-training-ui-container
